h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: sans-serif;
}

h1 {
  color: blue;
  font-size: 26px;
  text-transform: uppercase;
  color: #1098ad;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 14px;
  line-height: 1.5;
}
li {
  font-size: 20px;
}
/*--------------------------------------------------------------------- */
/*Burası önemli!!!!!*/
/* genellikle footer'lar sayfanın en altında yer alır ve bu yazı tipleri küçük olmak zorundadır ve fotter içerisindeki p elementine etki ettik burada */
/*106. satırda footer elementini bulabilirsiniz. */
/*--------------------------------------------------------------------- */
footer p {
  font-size: 12px;
  color: #999;
}
article p {
  font-style: italic;
}
/*--------------------------------------------------------------------- */
/*ID ler genellikle* bir sayfada bir kez kullanılır ve bu yüzden ID lerin özelleştirilmesi daha kolaydır. */
/*ID lerin özelleştirilmesi için # kullanılır. */
/*--------------------------------------------------------------------- */
#author {
  font-style: italic;
  font-size: 16px;
}
#copyright {
  font-size: 12px;
  color: #999;
}

/*--------------------------------------------------------------------- */
/*Class lar genellikle birden fazla kez kullanılır ve bu yüzden class ların özelleştirilmesi daha zordur. */
/*Class ların özelleştirilmesi için . kullanılır. */
/*--------------------------------------------------------------------- */

.related-author {
  font-size: 16px;
  font-weight: bold;
}
.related {
  list-style: none;
}
.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/*--------------------------------------------------------------------- */

/*.first-li {*/
/*  font-weight: bold;*/
/*}*/

/*--------------------------------------------------------------------- */
/*Pseudo-Classes*/
/*Pseudo-Classes, bir elementin durumunu belirtmek için kullanılır. */
/*Pseudo-Classes, bir elementin belirli bir durumda nasıl görüneceğini belirtmek için kullanılır. */

/* Aşağıdaki kullanım daha rahat bir kullanımdır, çünkü bu durumda sadece ilk li elementlerine etki eder. */
li:first-child {
  font-weight: bold;
}

/* Aşağıdaki kullanım daha karmaşıktır, çünkü bu durumda sadece ilk li elementlerine etki eder. */
li:nth-child(1) {
  font-weight: bold;
}

/* sonundaki li elemanına etki eder. */
li:last-child {
  font-weight: bold;
}

/* Aşağıdaki kullanım daha karmaşıktır, çünkü bu durumda sadece son li elementlerine etki eder. */

li:nth-child(3) {
  font-weight: bold;
}

/*--------------------------------------------------------------------- */
